body {
    background-color: rgb(238, 158, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(190, 34, 6);
    padding: 2rem;
  }

  h1, h2, h3, h4 {
    font-family: Verdana, Geneva, sans-serif;
    color: #139bbd ;
  }

  img {
    
    margin-right: auto;
    display: block;
    width: 25%;
  }

  .img-center {
    margin-left: auto;
  }

  li {
    color: rgb(255, 255, 255);  
  }

  .navbar.navbar-expand-sm.bg-info.navbar-dark li a {
    color: rgb(190, 34, 6);
  }
 
  .navbar.fixed-top.navbar-expand-sm.navbar-light.bg-info li a:hover{
    color: rgb(255, 255, 255);
    background-color: #139bbd;
  }

  .navbar.navbar-expand-sm.bg-info.navbar-dark li a:hover {
    color: rgb(255, 255, 255) !important;
  }
  
  .navbar.fixed-top.navbar-expand-sm.navbar-light.bg-info li a {
    color: rgb(190, 34, 6);
  }
  
  .largephoto {
      display: block;
      position: relative;
      width: 50%;
      border:none;
      padding: 2rem;  
  }

  * {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 10px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color:rgb(238, 158, 11);
     padding: 20px;
     margin-top: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    font-size: 300%;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  ul.navbar-nav a:hover { 
    color: rgb(255, 255, 255); 
  }

  .navbar-nav > li > .dropdown-menu { 
    background-color: #139bbd; 
  }

  .navbar-nav > li > .dropdown-menu > a.dropdown-item.active { 
    background-color: white; 
  }

  .toppadding {
    padding-top: 35px;
  }

  .center {
    text-align: center;
  }

  .button {
    position: relative;
  }
